<!DOCTYPE html>
<html>
<head>
<title>
home
</title>
{% load static %}
<link rel="stylesheet"  href="{% static 'css/style.css'%}">
</head>
<body class="bd">
    <div style="display: inline-flex">
    
    <div class="b">
        <h1>ADMIN</h1>
        <ul>
            <li><a href="{% url 'adminhome' %}">HOME</a></li>
            <li><a href="{% url 'faculty_signup' %}">ADD FACULTY</a></li>
            <li><a href="{% url 'student_signup'%}">ADD STUDENT</a></li>
            <li><a href="#">STUDENT DETAILS</a>
            <div class="submenu">
                <ul>
                    <li><a href="{% url 'stud_details' %}">Personal details</a></li>
                    <li><a href="{% url 'stud_attendance' %}">Attendance</a></li>
                    <li><a href="{% url 'stud_mark' %}">Mark</a></li>
                </ul>
            </div>
            </li>
            <li><a href="#">FACULTY DETAILS</a>
                <div class="submenu">
                    <ul>
                        <li><a href="{% url 'fac_details' %}">Personal Details</a></li>
                        <li><a href="{% url 'fac_attendance' %}">Attendance</a></li>
                    </ul>
                </div>    
            </li>
            <li><a href="{% url 'timetable' %}">TIME TABLE</a></li>
            <li><a href="#">LEAVE MANAGEMENT</a>
                <div class="submenu">
                    <ul>
                        <li><a href="{% url 'viewleavefac' %}">Faculty leave</a></li>
                        <li><a href="{% url 'viewleavestud' %}">Student leave</a></li>
                    </ul>

                </div>
            </li>
            <li><form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                     <input type="submit" value="Logout" name="logout" class="sbm" >
                </form>
            </li>
        </ul>
    </div>
    <div class="form">
        <h1> STUDENT ATTENDANCE</h1><br><br>
        <table style="color:rgb(10, 10, 10)" >
            <thead>
                <tr> 
                    <th>ID</th>
                    
                    <th>Date</th>
                    <th>Hour 1</th>
                    <th>Hour 2</th>
                    <th>Hour 3</th>
                    <th>Hour 4</th>

                </tr>
            </thead>
            <tbody>
                {% if r %}
                {% for i in r %}
                <tr>
                    <td> {{i.stid}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.status_h1}}</td>
                    <td>{{i.status_h2}}</td>
                    <td>{{i.status_h3}}</td>
                    <td>{{i.status_h4}}</td>
                    
                </tr>
                {%endfor %}
                {%endif %}
            </tbody>
        </table>
        
    </div>

    </div>
</body>
</html>