<!-- <div>
            <form action="{% url 'addatte' %}" method="post">
                {% csrf_token %}
                <table>
                <tr>
                        <td>Date</td><td>:</td><td><input type="date" name="date" class="inp"></td>
                </tr>
                <tr>
                    <td>absent ID</td><td>:</td><td><input type="text" name="stid" class="inp"></td>
                </tr>
                <tr>
                    <td>hour</td><td>:</td><td><input type="text" name="hour" class="inp"></td>
                </tr>
                <tr>
                        <td><input type="submit" name="addatte" class="sbm"></td>
                </tr>

                
                </table>
            </form>
        </div>-->